!#########################################################################################
!#
!#  ██╗  ██╗██████╗ ███████╗███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
!#  ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
!#   ╚███╔╝ ██████╔╝█████╗  ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
!#   ██╔██╗ ██╔══██╗██╔══╝  ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
!#  ██╔╝ ██╗██║  ██║███████╗███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
!#  ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
!#
!#  Edited by Shishqa
!#
!#########################################################################################


!##< FONT >###############################################################################

*font: xft:Inconsolata LGC:style=Regular:pixelsize=16

!##< COLORS >#############################################################################

! special
*.foreground:   #a7a7a7
*.background:   #1e1e1e
*.cursorColor:  #a7a7a7

! black
*.color0:       #1e1e1e
*.color8:       #5f5a60

! red
*.color1:       #cf6a4c
*.color9:       #cf6a4c

! green
*.color2:       #8f9d6a
*.color10:      #8f9d6a

! yellow
*.color3:       #f9ee98
*.color11:      #f9ee98

! blue
*.color4:       #7587a6
*.color12:      #7587a6

! magenta
*.color5:       #9b859d
*.color13:      #9b859d

! cyan
*.color6:       #afc4db
*.color14:      #afc4db

! white
*.color7:       #a7a7a7
*.color15:      #ffffff

*fading:        25
*fadeColor:     #1e1e1e

!##< URXVT CONFIG >#######################################################################

URxvt.scrollBar: false
URxvt.depth: 32
URxvt.internalBorder: 18

!##< URXVT PERLS >########################################################################

!##< ROFI CONFIG >########################################################################

rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   false
rofi.terminal:                       urxvt
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        100
rofi.columns:                        1
rofi.fullscreen:                     true
rofi.font:                           Monospace 16

!#< rofi colors >#

! State:           'bg',          'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: argb:00151515,  #899184,  argb:00151515,  argb:00151515,  #FFFFFF
rofi.color-active: argb:00151515,  #7A9168,  argb:00151515,  argb:00151515,  #FFFFFF
rofi.color-urgent: argb:00151515,  #505050,  argb:00151515,  argb:00151515,  #FFFFFF

!                  'background', 'border'
rofi.color-window: argb:dd151515, #404552
rofi.bw:                             0
rofi.padding:                        400
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                none
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false



!#########################################################################################
!#
!#  ███████╗ ██████╗ ███████╗
!#  ██╔════╝██╔═══██╗██╔════╝
!#  █████╗  ██║   ██║█████╗  
!#  ██╔══╝  ██║   ██║██╔══╝  
!#  ███████╗╚██████╔╝██║     
!#  ╚══════╝ ╚═════╝ ╚═╝     
!#
!#########################################################################################
                         
